#landing {
  margin: 0;
  .landing-image {
    position: relative;
    background-color: $primary;
    padding: 14em 0 14em 0;
    text-align: center;
    color: #fff;
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    .landing-header {
      display: block;
      text-align: center;
      background: none;
      position: relative;
      z-index: 2;
      h1 {
        font-size: 2.25em;
        line-height: 1.25rem;
        font-weight: 100;
      }
      p {
        margin-top: 1.25em;
        font-weight: 100;
        padding: 0;
        font-size: 1.25em;
        line-height: 1.5em;
        text-align: center;
        a {
          text-decoration: none;
          color: #fff;
          border-bottom: dotted 1px rgba(255, 255, 255, 0.507);
        }
      }
    }
    footer {
      padding-top: 1.5em;
      position: relative;
      z-index: 2;
      a {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: inset 0 0 0 1px #fff;
        color: #fff;
        padding: 0.85em 3em;
        border-radius: 0.25em;
        text-decoration: none;
        font-weight: 100;
      }
    }
  }
}
