$bg-dark: #294d4aff;
$bg-light: #f4f9e9ff;
$bg-other: #86a59cff;
$primary: #3d0814ff;
$secondary: #af7a6dff;

$gradient: linear-gradient(45deg, #af7a6dff 0%, #294d4aff 100%);
$gradient-two: linear-gradient(45deg, #86a59cff 0%, #3d0814ff 100%);
$gradient-three: linear-gradient(45deg, rgb(66, 41, 53) 0%, #294d4aff 100%);

/* SCSS HEX */
$blast-off-bronze: #af7a6dff;
$dark-sienna: #3d0814ff;
$dark-slate-gray: #294d4aff;
$morning-blue: #86a59cff;
$ivory: #f4f9e9ff;
